.MenuWrap {
  display: flex;
  /* justify-content: flex-end;
  align-items: center; */
  /* gap: 15px; */
  flex-direction: row-reverse;
  font-size:1rem;
  min-height:2.75rem;
  padding-right: 1rem;
  padding-top: 0;
}

.ListItem , .LastItem {
  text-decoration: none;
  color: black;
}
.ListItem {
  margin-right: 1rem;
}
.LastItem{
  margin-left:auto;
}

