html,
body {
  margin: 0;
  padding: 0;
}

.Wrap {
  margin: 0 auto;
  font-size: 0;

}

.Header {
  width: 100%;
  height: 130px;
  background-color: red;

}

.WrapMiddle {
  width: 100%;
  font-size: 0;
}

.left {
  width: 15%;
  height: 625px;
  background-color: rgb(13, 21, 174);
  display: inline-block;
  font-size: 16px;
}

.Main {
  width: 75%;
  height: 625px;
  background-color: rgb(3, 84, 15);
  display: inline-block;
  font-size: 16px;
}

.right {
  width: 10%;
  height: 625px;
  background-color: rgb(12, 43, 12);
  display: inline-block;
  font-size: 16px;
}

.Footer {
  width: 100%;
  height: 200px;
  background-color: aqua;

}